<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="filePath.activities" value="C:\Store\Projects\BestTime\config\activities.json"/>
    <add key="filePath.toDoItems" value="C:\Store\Projects\BestTime\config\toDoItems.json"/>
    <add key="filePath.unitsOfMeasure" value="C:\Store\Projects\BestTime\config\unitsOfMeasure.json"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>